 @font-face {
     font-family: norseBold;
     src: url(./assets/fonts/Norse-Bold.otf);
 }


 :root {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
     border: 0;
     font-size: 100%;
     font: inherit;
     font-family: "roboto", sans-serif;
     font-weight: 300;

     --olive-green: #596D48;
     --input-border: #E5E7EB;
     --input-blue: #3f6dda;
     --input-red: #c02c3f;
     --off-white: #f9fafb;
 }

 body {
     margin: 0;
     padding: 0;
     display: flex;
     flex-direction: row;
 }

 header {
     background-image: url(./assets/halie-west-25xggax4bSA-unsplash.jpg);
     background-color: var(--olive-green);
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;

     width: 37%;
     height: 100vh;
     display: flex;
     flex-direction: column;

     .title-container {
         background-color: hsla(0, 0%, 0%, 45%);
         width: 100%;
         height: 8em;
         position: relative;
         top: 28%;
         transform: translateY(-50%);

         display: flex;
         flex-direction: row;
         justify-content: center;
         align-items: center;

         .title-text {
             font-family: norseBold, serif;
             font-size: 5em;
             color: white;
             opacity: 100%;
         }

         .title-logo {
             height: 85%;
         }
     }

     #img-attribute {
         color: white;
         position: relative;
         top: 83%;
         text-align: center;
         font-weight: 100;

         a {
             color: white;
         }
     }
 }

 main {
     background-color: var(--off-white);
     width: calc(100%-37%);
     height: 100vh;
     display: flex;
     flex-direction: column;


     .text-block {
         font-weight: 600;
         font-size: 1.75em;
     }

     #top-text {
         width: 75%;
         padding: 6.5em 30px 30px 2em;
         outline: red solid 1px;
         margin: 0;
     }

     #bottom-text {
         padding: 0 0 0 2em;
         margin: 0;
     }

     #sign-up-form {
         width: 200px;
     }
 }