 @font-face {
     font-family: norseBold;
     src: url(./assets/fonts/Norse-Bold.otf);
 }


 :root {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
     border: 0;
     font-size: 100%;
     font: inherit;
     font-family: "roboto", sans-serif;
     font-weight: 300;

     --olive-green: #596D48;
     --input-border: #E5E7EB;
     --input-blue: #3f6dda;
     --input-red: #c02c3f;
     --off-white: #f9fafb;
     --text-bluegrey: #202937;
     --text-bluegreylight: #48505b;
 }

 body {
     margin: 0;
     padding: 0;
     display: flex;
     flex-direction: row;
 }

 header {
     background-image: url(./assets/halie-west-25xggax4bSA-unsplash.jpg);
     background-color: var(--olive-green);
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;

     width: 37%;
     height: 100vh;
     display: flex;
     flex-direction: column;

     .title-container {
         background-color: hsla(0, 0%, 0%, 45%);
         width: 100%;
         height: 8rem;
         position: relative;
         top: 28%;
         transform: translateY(-50%);

         display: flex;
         flex-direction: row;
         justify-content: center;
         align-items: center;

         .title-text {
             font-family: norseBold, serif;
             font-size: 5.5rem;
             color: white;
             opacity: 100%;
         }

         .title-logo {
             height: 85%;
         }
     }

     #img-attribute {
         color: white;
         position: relative;
         top: 83%;
         text-align: center;
         font-weight: 100;

         a {
             color: white;
         }
     }
 }

 main {
     background-color: var(--off-white);
     width: 63%;
     height: 100vh;
     display: flex;
     flex-direction: column;



     .text-block {
         font-weight: 600;
         font-size: 1.65rem;
         padding-left: 2.5rem;
         color: var(--text-bluegrey);

         .italics {
             font-style: italic;
         }
     }

     #top-text {
         width: 85%;
         padding-top: 9.5rem;
         margin: 0;
     }

     #bottom-text {
         margin-top: 1.75rem;
         /* margin-bottom: 2.5rem; */
     }

     #sign-up-form {


         fieldset {
             width: 100%;
             background-color: white;
             box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.08);
             height: 16.5rem;
             border: none;
             font-family: roboto, sans-serif;
             padding-left: 2.5rem;
             padding-top: 4rem;
             color: var(--text-bluegrey);

             legend {
                 font-size: 1.65rem;
                 font-weight: 500;
                 position: relative;
                 top: 2rem;
             }

             .input-container {
                 display: flex;
                 flex-wrap: wrap;
                 width: 80%;

                 .input {
                     display: flex;
                     flex-direction: column;
                     width: 40%;
                     margin-right: 10%;
                     margin-bottom: 3%;

                     label {
                         font-weight: 600;
                         color: var(--text-bluegreylight);
                         letter-spacing: 2px;
                         font-size: 0.8rem;
                         margin-bottom: 4px;
                     }

                     input {
                         border: 1px solid var(--input-border);
                         outline: none;
                         height: 1.9rem;
                         border-radius: 5px;
                         font-size: 1.2rem;
                         padding-left: 15px;
                         color: var(--text-bluegrey)
                     }

                     .no-match {
                         color: red;
                         margin-top: 2px;
                         font-size: 0.75rem;
                         font-weight: 500;
                     }

                     input:focus {
                         outline: 2px solid var(--input-blue);
                         box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.08);
                     }
                 }
             }




         }

         button {
             background-color: var(--olive-green);
             color: white;
             font-weight: 600;
             font-size: 1.2rem;
             margin-left: 2.5rem;
             margin-top: 30px;
             width: 27%;
             height: 3.5rem;
             border: none;
             border-radius: 10px;
         }

         button:hover {
             background-color: #4a5b3c;
             cursor: pointer;
         }

     }

     #login {
         margin-left: 2.3rem;
         margin-top: 35px;
         font-size: 1.3rem;
         font-weight: 500;
         color: var(--text-bluegrey);

         a {
             color: var(--olive-green);
             text-decoration: none;
         }
     }
 }